@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(0, 124, 179);
  background: -moz-linear-gradient(
    0deg,
    rgba(0, 124, 179, 1) 0%,
    rgba(28, 238, 225, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(0, 124, 179, 1) 0%,
    rgba(28, 238, 225, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(0, 124, 179, 1) 0%,
    rgba(28, 238, 225, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#007cb3",endColorstr="#1ceee1",GradientType=1);
}

::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .glass-bg {
    background: rgba(49, 178, 214, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(49, 178, 214, 0.3);
  }

  .glass-white {
    background: rgba(255, 255, 255, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

  .glass-dark {
    background: rgba(0, 0, 0, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid rgba(0, 0, 0, 0.06);
  }
}
